nav{
    background-color: white;
    height: 30px;
}
.row{
    display: inline-block;
}
.nav{
    float: right;
    margin-top: 2px;
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 5px;
}
.logo{
    font-size: 5px;
    color: black;
    margin-left: 5px;
}
header{
    height: 150px;
    background-image: url(https://images.unsplash.com/photo-1602519392653-94913ff0005a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNrYXRpbmd8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
}

